---
import imgJS from '../assets/img/td_js_400x400.webp';
import imgJava from '../assets/img/td_java_400x400.webp';
import imgAWS from '../assets/img/td_aws_400x400.webp';
---

<section class="flex flex-wrap gap-4 justify-center p-4">

  <a class="card bg-base-100 w-48 shadow-xl" target='_blank' href="https://www.acreditta.com/credential/63c99def-c48d-4495-aab5-00a3158d10a0">
    <figure class="p-4">
      <img
        src={imgJS.src}
        alt="JavaScript Certification"
        class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">JavaScript</h2>
    </div>
  </a>

  <a class="card bg-base-100 w-48 shadow-xl" target="_blank" href="https://www.acreditta.com/credential/67c91ad1-66c6-4fbd-9319-0bc7e3ad89f3">
    <figure class="p-4">
      <img
        src={imgJava.src}
        alt="Java Spring Boot Certification"
        class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">Java Spring Boot</h2>
    </div>
  </a>

  <a class="card bg-base-100 w-48 shadow-xl" target="_blank" href="https://www.acreditta.com/credential/0e81008b-e358-44f9-a9af-67b667adc802">
    <figure class="p-4">
      <img
        src={imgAWS.src}
        alt="AWS Certification"
        class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">AWS</h2>
    </div>
  </a>

</section>
