---
import { apiFetchLinks } from "../services/fetching"
import type { ApiResult, Url, UrlGrp } from "../types/Models"

const apiResult: ApiResult<UrlGrp[]> = await apiFetchLinks()
---

<footer 
  id="dynamic-footer" 
  class="footer bg-gray-900 text-neutral-content p-10 grid grid-cols-2 md:grid-cols-4">
  {apiResult.data
    .filter(urlGrp => urlGrp.isEnable)
    .map((urlGrp: UrlGrp) => 
    <nav>
      <h6 class="footer-title">{urlGrp.name}</h6>
      {urlGrp.urls.map((url: Url) => 
        <a class="link link-hover" target="_blank" href={url.link}>{url.name}</a>
      )}
    </nav>
  )}
</footer>