---
import type { ApiResult, Url, UrlGrp } from "../types/Models"

const API_LINKS = import.meta.env.SECRET_API_LINKS

const resp = await fetch(API_LINKS)
const apiResult: ApiResult<UrlGrp[]> = await resp.json()
---

<footer class="footer bg-gray-900 text-neutral-content p-10 grid grid-cols-2 md:grid-cols-4">
  {apiResult.data.map((urlGrp: UrlGrp) => 
    <nav>
      <h6 class="footer-title">{urlGrp.name}</h6>
      {urlGrp.urls.map((url: Url) => 
        <a class="link link-hover" target="_blank" href={url.url}>{url.name}</a>
      )}
    </nav>
  )}
</footer>

<footer class="relative z-10 footer bg-gray-700 text-neutral-content p-5">
  <label class="m-auto flex">
    ©2025
    <span>|</span>
    francisco-dev.cl
  </label>
</footer>