---
import { getAllUrls } from "../services/fetching"
import type { Url, UrlGrp } from "../types/Models"

const data: UrlGrp[] = await getAllUrls();
---

<footer 
  id="dynamic-footer" 
  class="footer bg-gray-900 text-neutral-content p-10 grid grid-cols-2 md:grid-cols-4">
  {data.filter(urlGrp => urlGrp.isEnabled).map((urlGrp: UrlGrp) => 
    <nav>
      <h6 class="footer-title">{urlGrp.name}</h6>
      {urlGrp.urls.map((url: Url) => 
        <a class="link link-hover" target="_blank" href={url.link}>{url.name}</a>
      )}
    </nav>
  )}
</footer>
