---
import imgHero from '../assets/img/hero.jpg';
import imgLinkedin from '../assets/img/linkedin.png';
import imgGithub from '../assets/img/github.png';
---

<div class="hero bg-base-300 shadow-2xl">
  <div class="hero-content flex-col lg:flex-row">
    <div class="avatar">
      <div class="w-48 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
        <img src={imgHero.src} alt="francisco image"/>
      </div>
    </div>
    <div>
      <h1 class="text-5xl font-bold text-gray-700">Hi, I'm Francisco</h1>
      <p class="text-3xl text-center py-6 text-gray-700">A SOFTWARE DEVELOPER</p>
      <div class="flex justify-center items-center gap-6">
        <a class="avatar flex items-center gap-2 hover:text-red-400 transition timeline-300" href="https://www.linkedin.com/in/nefelin" target="_blank">
          <div class="w-8">
            <img src={imgLinkedin.src} alt="linkedin image" />
          </div>
          <span>LinkedIn</span>
        </a>
        <a class="avatar flex items-center gap-2 hover:text-red-400 transition timeline-300" href="https://github.com/TheNefelin" target="_blank">
          <div class="w-8">
            <img src={imgGithub.src} alt="github image" />
          </div>
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </div>
</div>