<!-- <div class="navbar fixed z-10 shadow-2xl bg-gray-700 text-white w-full mt-20">
  <ul class="menu menu-horizontal px-1 text-base sm:text-lg md:text-xl flex gap-2 sm:gap-3 m-auto">
    <li class="hover:text-red-400 transition duration-300">
      <a href="#">About Me</a>
    </li>
    <li class="hover:text-red-400 transition duration-300">
      <a href="#id_Experience">Experience</a>
    </li>
    <li class="hover:text-red-400 transition duration-300">
      <a href="#id_projects">Projects</a>
    </li>
  </ul>
</div> -->


<div class="fixed z-10 navbar bg-gray-700 text-white shadow-2xl px-4">
  <div class="navbar-start">
    <a href="#" class="btn btn-ghost text-xl">
      <img src="/favicon.ico" alt="logo" class="w-10 h-10 mr-2"/>
    </a>
  </div>
  <div class="navbar-end">
    <!-- Mover el dropdown al navbar-end -->
    <div class="dropdown dropdown-end"> <!-- Añadir 'dropdown-end' aquí -->
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-gray-800 text-white rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a href="#">About Me</a>
        </li>
        <li>
          <a href="#id_Experience">Experience</a>
        </li>
        <li>
          <a href="#id_projects">Projects</a>
        </li>
        <li>
          <a href="#id_certifications">Certifications</a>
        </li>
      </ul>
    </div>
    
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal px-1 sm:text-lg md:text-xl">
        <li class="hover:text-red-400 transition duration-300">
          <a href="#">About Me</a>
        </li>
        <li class="hover:text-red-400 transition duration-300">
          <a href="#id_Experience">Experience</a>
        </li>
        <li class="hover:text-red-400 transition duration-300">
          <a href="#id_projects">Projects</a>
        </li>
        <li class="hover:text-red-400 transition duration-300">
          <a href="#id_certifications">Certifications</a>
        </li>
      </ul>
    </div>
  </div>
</div>