<div class="navbar fixed z-10 shadow-2xl bg-gray-700 text-white w-full">
  <ul class="menu menu-horizontal px-1 text-base sm:text-lg md:text-xl flex gap-2 sm:gap-3 m-auto">
    <li class="hover:text-red-400 transition duration-300">
      <a href="#">About Me</a>
    </li>
    <li class="hover:text-red-400 transition duration-300">
      <a href="#id_Experience">Experience</a>
    </li>
    <li class="hover:text-red-400 transition duration-300">
      <a href="#id_projects">Projects</a>
    </li>
  </ul>
</div>