<div class="navbar fixed z-10 shadow-2xl bg-gray-700 text-white">
  <ul class="menu menu-horizontal px-1 text-xl flex gap-3 m-auto">
    <li class="hover:text-red-400 transition timeline-300">
      <a href="#">Home</a>
    </li>
    <li class="hover:text-red-400 transition timeline-300">
      <a href="#id-projects">Projects</a>
    </li>
    <li class="hover:text-red-400 transition timeline-300">
      <a href="#id_socials">Socials</a>
    </li>
  </ul>
</div>