---
import imgGithub from '../assets/github.webp';
import imgLinkedin from '../assets/linkedin.webp';
import imgTwitch from '../assets/twitch.webp';
import imgYoutube from '../assets/youtube.webp';
---

<section class="bg-base-300 flex justify-around mt-4">
  <a class="bg-cyan-800 w-full flex justify-center" href="https://github.com/thenefelin" target='_blank'>
    <img class="w-10 h-10 border-4 rounded-full border-white m-2 bg-white" src={imgGithub.src} alt="GitHub">
  </a>
  <a class="bg-cyan-600 w-full flex justify-center" href="https://www.linkedin.com/in/nefelin" target='_blank'>
    <img class="w-10 h-10 border-4 rounded-full border-white m-2" src={imgLinkedin.src} alt="GitHub">
  </a>
  <a class="bg-purple-600 w-full flex justify-center" href="https://www.twitch.tv/thenefelin" target='_blank'>
    <img class="w-10 h-10 border-4 rounded-full border-white m-2" src={imgTwitch.src} alt="GitHub">
  </a>
  <a class="bg-red-600 w-full flex justify-center" href="https://www.youtube.com/c/TheNefelin" target='_blank'>
    <img class="w-10 h-10 border-4 rounded-full border-white m-2" src={imgYoutube.src} alt="GitHub">
  </a>
</section>