---
interface Props {
  id: string
  title: string;
}

const { id, title } = Astro.props;
---

<section id={id} class="flex justify-center pt-4 px-2">
  <div class="bg-gray-700 w-full max-w-3xl p-3 md:p-4 rounded text-center font-bold text-base sm:text-lg md:text-xl lg:text-2xl shadow-2xl">
    <span class="text-rose-300">{`const `}</span>
    <span class="text-white">{title}</span>
    <span class="text-blue-300">{`= `}</span>
    <span class="text-yellow-300">{`( ) `}</span>
    <span class="text-blue-300">{`=> `}</span>
    <span class="text-rose-300">{`{ ...`}</span>
  </div>
</section>